<div class="search-wrapper">
  <app-search-input (change)="search($event)"></app-search-input>
  <app-loading-switcher
    [state]="state"
    (stateChange)="changeState($event)"
    [loading]="loading"
  ></app-loading-switcher>
</div>
<div class="table-wrapper">
  <table
    (scroll)="onScrollData($event)"
    [class.scrollable]="!isPagination"
    #tableElement
  >
    <thead>
      <th *ngFor="let col of config.columns">
        {{ col.header }}
      </th>
    </thead>
    <tbody [class.load]="loading">
      <div class="loader-wrapper" *ngIf="loading">
        <div class="loader"></div>
      </div>
      <div *ngIf="isNothingFound && !loading" class="nothing-found">
        <p>Ничего не найдено</p>
        <span (click)="clearSearchRow()">Очистить строку поиска</span>
      </div>
      <tr *ngFor="let row of config.data; let i = index">
        <td *ngFor="let col of config.columns" [attr.data-label]="col.header">
          {{ row[col.field] || "Ошибка в названии поля" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination" *ngIf="isPagination">
  <app-pagination
    (changePage)="fetchPaginated($event)"
    [totalRecords]="counterRecords"
  ></app-pagination>
</div>
